*:focus {
  outline: 0 !important;
}

.btn {
  display: block;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 0.5rem 0;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  transition: all 0.2s ease-in-out;
  @include breakpoint(m) {
    padding: 1rem 0;
    font-size: 0.875rem;
  }

  &:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  }
}

.btn--blue {
  background: $blue;
}

.btn--green {
  background: $green;
}

.btn--red {
  background: $red;
}

.btn--orange {
  background: $orange;
}

.btn--full {
  width: 100%;
}

.btn--half {
  width: 100%;

  @include breakpoint(m) {
    width: 50%;
  }
}

.btn--disabled {
  opacity: 0.5;
  cursor: auto;
}

.toggle-btn {
  position: absolute;
  z-index: 9999;
  bottom: 2rem;
  left: 1rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;

  color: white;
  font-size: 1.5rem;
  background: $blue;
  box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;

  @include breakpoint(m) {
    @include absoluteCenter;
  }

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
  }
}
