@mixin breakpoint($bp) {
  @if $bp == xl {
    @media only screen and (min-width: $breakpoint-xl) {
      @content;
    }
  } @else if $bp == lg {
    @media only screen and (min-width: $breakpoint-lg) {
      @content;
    }
  } @else if $bp == m {
    @media only screen and (min-width: $breakpoint-m) {
      @content;
    }
  } @else if $bp == s {
    @media only screen and (min-width: $breakpoint-s) {
      @content;
    }
  }
}

@mixin box {
  border-radius: 0.25rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

@mixin absoluteCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
