// Theme Colors
$red: #ff0000;
$green: #00ff3b;
$orange: #ff8900;
$grey: #a0a0a0;
$blue: #2990cd;
$black: #202021;
$lightBlue: #40c8ec;

// Responsive Breakpoints
$breakpoint-s: 576px !default;
$breakpoint-m: 767px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;
